In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
import requests
import json
import datetime
import time
import os
import re
import nltk
# import gensim
# import tensorflow as tf
# import keras
# import scipy
# import statsmodels
# import plotly.express as px
# import plotly.graph_objects as go
import pprint
import datetime

In [90]:
def datetime_to_date(df):
    # Drop the 'image' column
    if 'image' in df.columns:
        df = df.drop('image', axis=1)
    if 'source' in df.columns:
        df = df.drop('source', axis=1)
    if 'url' in df.columns:
        df = df.drop('url', axis=1)
    if 'id' in df.columns:
        df = df.drop('id', axis=1)
    # Convert epoch time to date for 'datetime' column
    # df = df.sort_values('datetime')
    df = df.reset_index(drop=True)
    df = df.sort_values('datetime')
    df['datetime'] = df['datetime'].apply(lambda x: pd.to_datetime(x, unit='s').date())
    df = df.reset_index(drop=True)
    return df

In [ ]:
ch9l37pr01qrd9soe8j0ch9l37pr01qrd9soe8jg

In [ ]:
pip install finnhub-python

In [84]:
import finnhub
# Setup client
finnhub_client = finnhub.Client(api_key="ch9l37pr01qrd9soe8j0ch9l37pr01qrd9soe8jg")
finnhub_client

In [115]:
_from = "2013-05-01"
to = "2022-01-01"
# Company News
# Need to use _from instead of from to avoid conflict
res = finnhub_client.company_news('AAPL', _from=_from, to=to)

In [116]:
df = pd.DataFrame(res)
df.to_csv('apple_news.csv', index=False)

In [111]:
#read csv
df = pd.read_csv('apple_news.csv')

In [117]:
df = datetime_to_date(df)
df

,category,datetime,headline,related,summary
0,company,2023-03-28,"Apple launches buy now, pay later service",AAPL,IPhone maker Apple Inc on Tuesday launched App...
1,company,2023-03-28,S&P 500 dips on tech drag as yields rise on ea...,AAPL,By Yasin Ebrahim
2,company,2023-03-28,"UPDATE 3-Apple launches buy now, pay later ser...",AAPL,"Apple Inc on Tuesday launched its buy now, pay..."
3,company,2023-03-28,I Was Wrong On Apple: A Bear Turns Bullish,AAPL,I previously ignored the Apple stock due to th...
4,company,2023-03-28,Stock market today: Dow dips to close lower as...,AAPL,By Yasin Ebrahim
...,...,...,...,...,...
208,company,2023-04-01,The Retirees Guide To An Upcoming Recession,AAPL,Tech sector layoffs are accelerating as an era...
209,company,2023-04-01,3 things you may have missed as markets wrappe...,AAPL,The banking crisis was downgraded a bit this w...
210,company,2023-04-01,Why You Should Buy Apple Stock,AAPL,Apple (NASDAQ: AAPL) was a dominant company ov...
211,company,2023-04-01,My Top FAANG Stock to Buy for the Second Half ...,AAPL,All five of the FAANG stocks -- Facebook's par...
212,company,2023-04-01,3 Robinhood Stocks to Buy Right Now,AAPL,"Robinhood (NASDAQ: HOOD), the online brokerage..."

In [105]:
df['datetime'].nunique()

10

In [119]:
import finnhub
import pandas as pd
import datetime
# Setup client
finnhub_client = finnhub.Client(api_key="ch9l37pr01qrd9soe8j0ch9l37pr01qrd9soe8jg")

# Define parameters
symbol = 'AAPL'
start_date = pd.Timestamp.now().date() - pd.DateOffset(years=4)
end_date = pd.Timestamp.now().date()

# Get news
news = finnhub_client.company_news(symbol=symbol, from_=start_date.timestamp(), to=end_date.timestamp())

# Convert to dataframe
df = pd.DataFrame(news)

# Filter columns
df = df[['category', 'datetime', 'headline', 'related', 'source', 'summary']]

# Convert epoch datetime to pandas datetime
df['datetime'] = pd.to_datetime(df['datetime'], unit='s').dt.date

# Display dataframe
print(df)

AttributeError: 'datetime.date' object has no attribute 'timestamp'

# general

In [ ]:
print(finnhub_client.general_news('general', min_id=0))

# till now company category

In [ ]:
# Company Profile 2
pprint(finnhub_client.company_profile2(symbol='AAPL'))

In [45]:
#read csv
f = pd.read_csv('temp.csv')

In [46]:
f.head

<bound method NDFrame.head of       category    datetime                                           headline  \
0      company  1651934117  First U.S. Apple store union election is set f...
1      company  1651928100  2 Top Buffett Stocks to Buy and Hold for the L...
2      company  1651927200                      2 Top 5G Stocks to Buy in May
3      company  1651921620  This Logistics Leader Could Be the Perfect E-C...
4      company  1651917600  Why a Successful Microsoft Is Good for All Inv...
...        ...         ...                                                ...
10537  company  1683014400  Money Market Funds: The Next Bubble Or The Log...
10538  company  1683010770  Wall Street Breakfast Podcast: Yellen Warns U....
10539  company  1682996133  Compounders And Dividends: April 2023 Portfoli...
10540  company  1682994000  Q1 Peak Earnings Season Begins With A Rescue F...
10541  company  1682992852  CNBC Daily Open: JPMorgan takes over First Rep...

      related        source                                            summary
0        AAPL         Yahoo  Apple retail workers in Atlanta have released ...
1        AAPL         Yahoo  Buying the same stocks as famed investor Warre...
2        AAPL         Yahoo  The 5G smartphone market has been growing at a...
3        AAPL        Nasdaq  E-commerce stocks have gotten smashed this ear...
4        AAPL         Yahoo  Microsoft (NASDAQ: MSFT) is the U.S.'s second-...
...       ...           ...                                                ...
10537    AAPL  SeekingAlpha  Money Market Funds might be a good alternative...
10538    AAPL  SeekingAlpha  U.S. government could run out of money, measur...
10539    AAPL  SeekingAlpha  Dividend income grew 23.7% year over year, ref...
10540    AAPL  SeekingAlpha  Better-than-expected results in big tech lifts...
10541    AAPL          CNBC  Markets were remarkably quiet following the se...

[10542 rows x 6 columns]>

In [47]:
# Drop the 'image' column
if 'image' in f.columns:
    f = f.drop('image', axis=1)
if 'source' in df.columns:
    f =f.drop('source', axis=1)
if 'url' in f.columns:
    f = f.drop('url', axis=1)
if 'id' in f.columns:
    f = f.drop('id', axis=1)

f.to_csv('AAPL.csv',index=False)

In [48]:
 # assuming `df` is your original DataFrame with the given Index object
# reset the index and drop the index column
f = f.reset_index(drop=True)

f.columns

Index(['category', 'datetime', 'headline', 'related', 'source', 'summary'], dtype='object')

In [49]:
f

,category,datetime,headline,related,source,summary
0,company,1651934117,First U.S. Apple store union election is set f...,AAPL,Yahoo,Apple retail workers in Atlanta have released ...
1,company,1651928100,2 Top Buffett Stocks to Buy and Hold for the L...,AAPL,Yahoo,Buying the same stocks as famed investor Warre...
2,company,1651927200,2 Top 5G Stocks to Buy in May,AAPL,Yahoo,The 5G smartphone market has been growing at a...
3,company,1651921620,This Logistics Leader Could Be the Perfect E-C...,AAPL,Nasdaq,E-commerce stocks have gotten smashed this ear...
4,company,1651917600,Why a Successful Microsoft Is Good for All Inv...,AAPL,Yahoo,Microsoft (NASDAQ: MSFT) is the U.S.'s second-...
...,...,...,...,...,...,...
10537,company,1683014400,Money Market Funds: The Next Bubble Or The Log...,AAPL,SeekingAlpha,Money Market Funds might be a good alternative...
10538,company,1683010770,Wall Street Breakfast Podcast: Yellen Warns U....,AAPL,SeekingAlpha,"U.S. government could run out of money, measur..."
10539,company,1682996133,Compounders And Dividends: April 2023 Portfoli...,AAPL,SeekingAlpha,"Dividend income grew 23.7% year over year, ref..."
10540,company,1682994000,Q1 Peak Earnings Season Begins With A Rescue F...,AAPL,SeekingAlpha,Better-than-expected results in big tech lifts...
10541,company,1682992852,CNBC Daily Open: JPMorgan takes over First Rep...,AAPL,CNBC,Markets were remarkably quiet following the se...

In [50]:
#sort accorfing to column check how many of same date
f = f.sort_values('datetime')
f

,category,datetime,headline,related,source,summary
7249,company news,1596152269,10 Biggest Technology Companies,AAPL,Yahoo,"With Apple topping the list, these are the 10 ..."
8048,company,1619574988,Inside Intel: A Look at the Mega Chip Maker,AAPL,Yahoo,There's a very good chance that you've utilize...
2132,company,1625647920,"SPDR-ETF Report For Wednesday, July 7",AAPL,TalkMarkets,NaN
6964,company,1635516732,5 Things You Might Not Know About Apple CEO Ti...,AAPL,Yahoo,"In August 2011, Tim Cook was named the CEO of ..."
239,company,1646659817,Best Fintech 2022: See The Leaders In Digital ...,AAPL,Yahoo,"As the fintech revolution rolls on, see the to..."
...,...,...,...,...,...,...
10541,company,1682992852,CNBC Daily Open: JPMorgan takes over First Rep...,AAPL,CNBC,Markets were remarkably quiet following the se...
10540,company,1682994000,Q1 Peak Earnings Season Begins With A Rescue F...,AAPL,SeekingAlpha,Better-than-expected results in big tech lifts...
10539,company,1682996133,Compounders And Dividends: April 2023 Portfoli...,AAPL,SeekingAlpha,"Dividend income grew 23.7% year over year, ref..."
10538,company,1683010770,Wall Street Breakfast Podcast: Yellen Warns U....,AAPL,SeekingAlpha,"U.S. government could run out of money, measur..."
10537,company,1683014400,Money Market Funds: The Next Bubble Or The Log...,AAPL,SeekingAlpha,Money Market Funds might be a good alternative...

In [56]:
timestamp = 1682992852
dt_object = datetime.datetime.fromtimestamp(timestamp)

print(datetime.datetime.fromtimestamp(1682992852))
print(datetime.datetime.fromtimestamp(1682994000))

2023-05-02 07:30:52
2023-05-02 07:50:00

# date format
print(datetime.datetime.fromtimestamp(1682992852))

2023-05-02 07:30:52

so ocnvert it just date otherwise
#### see 
print(datetime.datetime.fromtimestamp(1682992852))

print(datetime.datetime.fromtimestamp(1682994000))

2023-05-02 07:30:52

2023-05-02 07:50:00

two date in same line

In [57]:
# Convert epoch time to date for 'datetime' column
f['datetime'] = f['datetime'].apply(lambda x: pd.to_datetime(x, unit='s').date())

In [66]:
f

,category,datetime,headline,related,source,summary
7249,company news,2020-07-30,10 Biggest Technology Companies,AAPL,Yahoo,"With Apple topping the list, these are the 10 ..."
8048,company,2021-04-28,Inside Intel: A Look at the Mega Chip Maker,AAPL,Yahoo,There's a very good chance that you've utilize...
2132,company,2021-07-07,"SPDR-ETF Report For Wednesday, July 7",AAPL,TalkMarkets,NaN
6964,company,2021-10-29,5 Things You Might Not Know About Apple CEO Ti...,AAPL,Yahoo,"In August 2011, Tim Cook was named the CEO of ..."
239,company,2022-03-07,Best Fintech 2022: See The Leaders In Digital ...,AAPL,Yahoo,"As the fintech revolution rolls on, see the to..."
...,...,...,...,...,...,...
10541,company,2023-05-02,CNBC Daily Open: JPMorgan takes over First Rep...,AAPL,CNBC,Markets were remarkably quiet following the se...
10540,company,2023-05-02,Q1 Peak Earnings Season Begins With A Rescue F...,AAPL,SeekingAlpha,Better-than-expected results in big tech lifts...
10539,company,2023-05-02,Compounders And Dividends: April 2023 Portfoli...,AAPL,SeekingAlpha,"Dividend income grew 23.7% year over year, ref..."
10538,company,2023-05-02,Wall Street Breakfast Podcast: Yellen Warns U....,AAPL,SeekingAlpha,"U.S. government could run out of money, measur..."
10537,company,2023-05-02,Money Market Funds: The Next Bubble Or The Log...,AAPL,SeekingAlpha,Money Market Funds might be a good alternative...

In [60]:
f['datetime'].nunique()

366

In [141]:
# Need to use _from instead of from to avoid conflict
a = finnhub_client.company_news('AAPL', _from="2022-07-11", to="2023-01-18")

In [142]:
df = pd.DataFrame(a)
df.to_csv('temp.csv', index=False)

# last try

In [143]:
#read csv
df = pd.read_csv('temp.csv')
df = datetime_to_date(df)
df

,category,datetime,headline,related,summary
0,company,2023-01-06,Here's Why We Think Apple (NASDAQ:AAPL) Might ...,AAPL,"For beginners, it can seem like a good idea (a..."
1,company,2023-01-06,Techâ€™s Bill Is Coming Due. Investors Arenâ€™t th...,AAPL,Tech companies went on a spending binge to sat...
2,company,2023-01-06,You Could've Become a Millionaire With Just $1...,AAPL,"Apple (NASDAQ: AAPL) was founded in 1976, and ..."
3,company,2023-01-06,"This app will save me $1,235 by helping me can...",AAPL,Here's how I used an app called Rocket Money t...
4,company,2023-01-06,Are Growth Stocks in for More Pain in 2023?,AAPL,The Dow Jones Industrial Average outperformed ...
...,...,...,...,...,...
229,company,2023-01-18,"Apple to Expand Smart-Home Lineup, Taking On A...",AAPL,(Bloomberg) -- Apple Inc. is working on a slat...
230,company,2023-01-18,Apple delays development of AR glasses indefin...,AAPL,Apple has delayed releasing augmented-reality ...
231,company,2023-01-18,"Stocks trending in after hours: Alcoa, Discove...",AAPL,Yahoo Finance Liveâ€™s Seana Smith checks out se...
232,company,2023-01-18,It's A Great Time To Buy Skyworks Shares,AAPL,There are several likely explanations behind S...
233,company,2023-01-18,Spotify joins media firms to urge EU action ag...,AAPL,"Music streaming service Spotify Technology, al..."

In [154]:
import time
from datetime import datetime, timedelta
ticker = 'AAPL'
start_date = "2022-08-11"
end_date = "2022-08-18"
start_date = datetime.strptime("2022-08-11", "%Y-%m-%d").date()
end_date = datetime.strptime("2022-08-18", "%Y-%m-%d").date()
while(start_date <= end_date):
    jump_date = start_date + timedelta(days=1)

    print(jump_date)
    a = finnhub_client.company_news('AAPL', _from=start_date, to=jump_date)

    start_date = jump_date

2022-08-12
2022-08-13
2022-08-14
2022-08-15
2022-08-16
2022-08-17
2022-08-18
2022-08-19